GOOGLE_API_KEY=AIzaSyAhYsghveF9vTejkgs1OpNe1Ibz75y3f6c
DATABASE_URL=sqlite:///./rhythm.db
OURA_CLIENT_ID=1e3a0976-fbc9-4807-b9e6-474dd83e1262
OURA_CLIENT_SECRET=Cbande7OtP26MBMRnV5pIRl_NiHJdfmSuggN8-m9gQ0
OURA_REDIRECT_URI=http://localhost:8000/oura/callback
